* {
    box-sizing: border-box;
}

.delius-unicase-regular {
    font-family: "Delius Unicase", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    grid-auto-rows: 370px;
}

.card {
    border-radius: 20px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card:hover {
    background-size: 115%;
    opacity: 1;
}

.bg1 {
    background-image:  linear-gradient(to top, 
        rgba(36, 31, 36, 0.9) 0%, 
        rgba(91, 91, 91, 0.5) 34%,  
        rgba(187, 186, 192, 0.1) 63%,
        rgba(187, 186, 192, 0.0) 100%), url(images/image-1.jpg);
}

.bg1:hover {
     background-image: url(images/image-1.jpg);
}

.bg2 {
    background-image: linear-gradient(to top, 
        rgba(36, 31, 36, 0.9) 0%, 
        rgba(91, 91, 91, 0.5) 34%,  
        rgba(187, 186, 192, 0.1) 63%,
        rgba(187, 186, 192, 0.0) 100%), url(images/image-2.jpg);
}

.bg2:hover {
     background-image: url(images/image-2.jpg);
}

.bg3 {
    background-image: linear-gradient(to top, 
        rgba(36, 31, 36, 0.9) 0%, 
        rgba(91, 91, 91, 0.5) 34%,  
        rgba(187, 186, 192, 0.1) 63%,
        rgba(187, 186, 192, 0.0) 100%), url(images/image-3.jpg);
}

.bg3:hover {
     background-image: url(images/image-3.jpg);
}

.bg4 {
    background-image: linear-gradient(to top, 
        rgba(36, 31, 36, 0.9) 0%, 
        rgba(91, 91, 91, 0.5) 34%,  
        rgba(187, 186, 192, 0.1) 63%,
        rgba(187, 186, 192, 0.0) 100%), url(images/image-4.jpg);
}

.bg4:hover {
     background-image: url(images/image-4.jpg);
}

.bg5 {
    background-image: linear-gradient(to top, 
        rgba(36, 31, 36, 0.9) 0%, 
        rgba(91, 91, 91, 0.5) 34%,  
        rgba(187, 186, 192, 0.1) 63%,
        rgba(187, 186, 192, 0.0) 100%), url(images/image-5.jpg);
}

.bg5:hover {
     background-image: url(images/image-5.jpg);
}

.bg6 {
    background-image: linear-gradient(to top, 
        rgba(36, 31, 36, 0.9) 0%, 
        rgba(91, 91, 91, 0.5) 34%,  
        rgba(187, 186, 192, 0.1) 63%,
        rgba(187, 186, 192, 0.0) 100%), url(images/image-6.jpg);
}

.bg6:hover {
     background-image: url(images/image-6.jpg);
}

.wide {
    grid-column: span 2;
}

.tall {
    grid-row: span 2;
}

h2 {
    margin-top: 120px;
    margin-bottom: 60px;
    text-align: center;
}

b,
time {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

b {
    font-weight: 500;
    color: #FFFFFF;
}

time {
    color: #E0E0E0;
}

button {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border-color: #E0E0E033;
    background-color: #E0E0E0;
    opacity: 0.3;
}

.buttons {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.heart {
    background-image: url(images/svg/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    opacity: 0;
}

.heart:hover {
    opacity: 1;
}

.download {
    background-image: url(images/svg/download.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    opacity: 0;
}

.download:hover {
    opacity: 1;
}

.bg11 {
    background-image: linear-gradient(to top, 
        rgba(36, 31, 36, 0.9) 0%, 
        rgba(91, 91, 91, 0.5) 34%,  
        rgba(187, 186, 192, 0.1) 63%,
        rgba(187, 186, 192, 0.0) 100%), url(images/image-11.jpg);
}

.bg11:hover {
     background-image: url(images/image-11.jpg);
}

.bg12 {
    background-image: linear-gradient(to top, 
        rgba(36, 31, 36, 0.9) 0%, 
        rgba(91, 91, 91, 0.5) 34%,  
        rgba(187, 186, 192, 0.1) 63%,
        rgba(187, 186, 192, 0.0) 100%), url(images/image-12.jpg);
}

.bg12:hover {
     background-image: url(images/image-12.jpg);
}

.bg13 {
    background-image: linear-gradient(to top, 
        rgba(36, 31, 36, 0.9) 0%, 
        rgba(91, 91, 91, 0.5) 34%,  
        rgba(187, 186, 192, 0.1) 63%,
        rgba(187, 186, 192, 0.0) 100%), url(images/image-13.jpg);
}

.bg13:hover {
     background-image: url(images/image-13.jpg);
}

.bg14 {
    background-image: linear-gradient(to top, 
        rgba(36, 31, 36, 0.9) 0%, 
        rgba(91, 91, 91, 0.5) 34%,  
        rgba(187, 186, 192, 0.1) 63%,
        rgba(187, 186, 192, 0.0) 100%), url(images/image-14.jpg);
}

.bg14:hover {
     background-image: url(images/image-14.jpg);
}

.bg15 {
    background-image: linear-gradient(to top, 
        rgba(36, 31, 36, 0.9) 0%, 
        rgba(91, 91, 91, 0.5) 34%,  
        rgba(187, 186, 192, 0.1) 63%,
        rgba(187, 186, 192, 0.0) 100%), url(images/image-15.jpg);
}

.bg15:hover {
     background-image: url(images/image-15.jpg);
}

.bg16 {
    background-image: linear-gradient(to top, 
        rgba(36, 31, 36, 0.9) 0%, 
        rgba(91, 91, 91, 0.5) 34%,  
        rgba(187, 186, 192, 0.1) 63%,
        rgba(187, 186, 192, 0.0) 100%), url(images/image-16.jpg);
}

.bg16:hover {
     background-image: url(images/image-16.jpg);
}

.bg20 {
    background-image: linear-gradient(to top, 
        rgba(36, 31, 36, 0.9) 0%, 
        rgba(91, 91, 91, 0.5) 34%,  
        rgba(187, 186, 192, 0.1) 63%,
        rgba(187, 186, 192, 0.0) 100%), url(images/image-20.png);
}

.bg20:hover {
     background-image: url(images/image-20.png);
}

.bg21 {
    background-image: linear-gradient(to top, 
        rgba(36, 31, 36, 0.9) 0%, 
        rgba(91, 91, 91, 0.5) 34%,  
        rgba(187, 186, 192, 0.1) 63%,
        rgba(187, 186, 192, 0.0) 100%), url(images/image-21.jpg);
}

.bg21:hover {
     background-image: url(images/image-21.jpg);
}

.bg22 {
    background-image: linear-gradient(to top, 
        rgba(36, 31, 36, 0.9) 0%, 
        rgba(91, 91, 91, 0.5) 34%,  
        rgba(187, 186, 192, 0.1) 63%,
        rgba(187, 186, 192, 0.0) 100%), url(images/image-22.jpg);
}

.bg22:hover {
     background-image: url(images/image-22.jpg);
}

.bg32 {
    background-image: linear-gradient(to top, 
        rgba(36, 31, 36, 0.9) 0%, 
        rgba(91, 91, 91, 0.5) 34%,  
        rgba(187, 186, 192, 0.1) 63%,
        rgba(187, 186, 192, 0.0) 100%), url(images/image-32.jpg);
}

.bg32:hover {
     background-image: url(images/image-32.jpg);
}

.bg42 {
    background-image: linear-gradient(to top, 
        rgba(36, 31, 36, 0.9) 0%, 
        rgba(91, 91, 91, 0.5) 34%,  
        rgba(187, 186, 192, 0.1) 63%,
        rgba(187, 186, 192, 0.0) 100%), url(images/image-42.jpg);
}

.bg42:hover {
     background-image: url(images/image-42.jpg);
}

.bg52 {
    background-image: linear-gradient(to top, 
        rgba(36, 31, 36, 0.9) 0%, 
        rgba(91, 91, 91, 0.5) 34%,  
        rgba(187, 186, 192, 0.1) 63%,
        rgba(187, 186, 192, 0.0) 100%), url(images/image-52.jpg);
}

.bg52:hover {
     background-image: url(images/image-52.jpg);
}

.bg62 {
    background-image: linear-gradient(to top, 
        rgba(36, 31, 36, 0.9) 0%, 
        rgba(91, 91, 91, 0.5) 34%,  
        rgba(187, 186, 192, 0.1) 63%,
        rgba(187, 186, 192, 0.0) 100%), url(images/image-62.jpg);
}

.bg62:hover {
     background-image: url(images/image-62.jpg);
}

.bg72 {
    background-image: linear-gradient(to top, 
        rgba(36, 31, 36, 0.9) 0%, 
        rgba(91, 91, 91, 0.5) 34%,  
        rgba(187, 186, 192, 0.1) 63%,
        rgba(187, 186, 192, 0.0) 100%), url(images/image-72.jpg);
}

.bg72:hover {
     background-image: url(images/image-72.jpg);
}

.bg82 {
    background-image: linear-gradient(to top, 
        rgba(36, 31, 36, 0.9) 0%, 
        rgba(91, 91, 91, 0.5) 34%,  
        rgba(187, 186, 192, 0.1) 63%,
        rgba(187, 186, 192, 0.0) 100%), url(images/image-82.jpg);
}

.bg82:hover {
     background-image: url(images/image-82.jpg);
}

.bg92 {
    background-image: linear-gradient(to top, 
        rgba(36, 31, 36, 0.9) 0%, 
        rgba(91, 91, 91, 0.5) 34%,  
        rgba(187, 186, 192, 0.1) 63%,
        rgba(187, 186, 192, 0.0) 100%), url(images/image-92.jpg);
}

.bg92:hover {
     background-image: url(images/image-92.jpg);
}
